# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the
# repo. Unless a later match takes precedence, these owners will be
# requested for review when someone opens a pull request.
* @felddy

# These folks own any files in the .github directory at the root of
# the repository and any of its subdirectories.
/.github/ @felddy

# These folks own all linting configuration files.
/.ansible-lint @felddy
/.bandit.yml @felddy
/.flake8 @felddy
/.isort.cfg @felddy
/.mdl_config.yaml @felddy
/.pre-commit-config.yaml @felddy
/.prettierignore @felddy
/.yamllint @felddy
/requirements.txt @felddy
/requirements-dev.txt @felddy
/requirements-test.txt @felddy
/setup-env @felddy
